*{
    box-sizing: border-box;
    /* font-family: 'Galada', cursive; */
}

body{
    margin: 0px;
    
    font-family: 'Galada', cursive;
    padding: 0px;
}

.navbar{
    position: fixed;
    width: 100%;
    transition: 0.5s ease-in-out;
    z-index: 9999;
}

.navbar a.left{
    margin-left: 3%;
}

.navbar a.leftright{
    display: none;
}

.navbar .collapse{
    margin-left: 5%;
}

.navbar ul{
    width: 100%;
}

.navbar ul li{
    margin: 0 1.9%;
    font-size: 20px;
}

.navbar ul li a{
    
    transition: 0.3s all ease;
}

.navbar .collapse ul li a:hover{
    color: #58D9B0 !important;
}

.navbar .collapse .dropdown .dropdown-menu{
    border-radius: 10px;
    border: none;
    box-shadow: 5px 4px 23px -6px black;

}


.navbar .collapse .dropdown .dropdown-menu a{
margin: 2% 0;
text-align: center;
}


.navbar .collapse .dropdown .dropdown-menu a:hover{
    background-color: transparent;
    animation: anim 1s ease-in-out;
}

@keyframes anim{
    0%{
        transform-origin:left;
        transform: scale(1,1);
    }
    25%{
        transform-origin: right;
        transform: scale(1.2,1);
    }
    50%{
        transform-origin: left;
        transform: scale(1.3,1.3);
    }
    75%{
        transform-origin: right;
        transform: scale(1,1.2);
    }
    100%{
        transform-origin: left;
        transform: scale(1,1);
    }
}

.navbar .right{
    margin-right: 5%;
}

.navbar a.design{
    color: white;
    background-color: #58D9B0;
    border-radius: 25px;
    padding: 0.4% 1.5%;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    font-weight: 900;
}

.navbar a.design:hover{
animation: anim2 0.3s ease;
color: #58D9B0;
background-color: white;
}

@keyframes anim2{
    0%{
        margin-right: 5%;
    }
    25%{
        margin-right: 4.8%;
    }
    50%{
        margin-right: 5%;
    }
    75%{
        margin-right: 5.2%;
    }
    100%{
        margin-right: 5%;
    }
}

.topcontent{
    width: 100%;
    text-align: center;
    padding-top: 10%; 
}

.topcontent h1{
    font-weight: 100 !important;
    margin-bottom: 2.5%;
    margin-top: 4%;
}

.topcontent p:nth-child(4){
    margin-bottom: 5%;
}

.topcontent a.topbttn{
    color: white;
    background-color: #58D9B0;
    border-radius: 25px;
    padding: 0.7% 1.5%;
    font-size: 18px;
    margin-top: 2% !important;
    
}

.topcontent a.topbttn:hover{
    text-decoration: none;
}

.topcontent img{
    margin: 7% 0;
}

.below{
    box-shadow: 0px 0px 80px -15px black;
    background-color: white !important;
    padding-top: 0.5%;
}

.above{
    border-bottom: none;
    background-color: transparent !important;
    
    padding-top: 2.5%;
}


.floating{
    color: white;
    background-color: #01cfea;
    transform: skewY(-3deg);
    width: 100%;
    padding-top: 350px;
    padding-bottom: 350px;
    position: relative;
    margin-bottom: 10%;
    margin-top: 5%;
}

.floating h1, .floating p{
    transform: skewY(3deg);
    text-align: center;

}

.floating h1{
    padding: 0 30%;
    font-size: 44px;
    margin-bottom: 3%;
}

.floating p{
    padding: 0 25%;
    font-size:28px;
}

.floating .f1, .floating .f2, .floating .f3, .floating .f4, .floating .f5, .floating .f6, .floating .f7{
    background-color: white;
    border-radius: 50%;
    width: max-content;
    position: absolute;
}

.floating .f1{
    top: 15%;
    left: 20%;
    padding:2% 1.2%;
}

div.floating div.f1::after{
    content: '';
    display: inline-block;
    background-position: 89.70163618864292% 98.30917874396135%;
    background-size: 495.05703422053233% 587.0588235294117%;
    background-image: url(floating.jpg);
    width: 70px;
    height: 30px;
    
    transform: skewY(3deg);
    /* padding: 0 20%; */
}

.floating .f2{
    top: 10%;
    left: 35%;
    padding: 3.6% 3.6%;
}

.floating .f2::after{
    content: '';
    display: inline-block;
    background-position: 99.52107279693486% 2.0080321285140563%;
    background-size: 504.6511627906977% 199.6%;
    background-image: url(floating.jpg);
    width: 100px;
    height: 80px;
    transform: skewY(3deg);
}

.floating .f3{
    top: 50%;
    left: 70%;
    padding: 1.3% 1%;
}

.floating .f3::after{
    transform: skewY(3deg);
    content:'';
    display: inline-block;
    background-position: 0.4537205081669691% 98.32775919732441%;
    background-size: 651% 249.5%;
    background-image: url(floating.jpg);
    height: 50px;
    width: 70px;
}


.floating .f4{
    top: 80%;
    left: 30%;
    padding: 1.1% 1%;
}

.floating .f4::after{
    transform: skewY(3deg);
    content:'';
    display: inline-block;
    background-position: 38.08243727598566% 98.83720930232558%;
    background-size: 700% 723.1884057971015%;
    background-image: url(floating.jpg);
    height: 40px;
    width: 65px;
}

.floating .f5{
    top: 50%;
    left: 80%;
    padding: 3% 2.2% 2.2%;
}

.floating .f5::after{
    transform: skewY(3deg);
    content:'';
    display: inline-block;
    background-position: 74.29378531073446% 2.05761316872428%;
    background-size: 542.5% 194.921875%;
    background-image: url(floating.jpg);
    height: 120px;
    width: 150px;
}

.floating .f6{
    top: 90%;
    left: 5%;
    padding: 2.2% 2.3%;
}

.floating .f6::after{
    transform: skewY(3deg);
    content:'';
    display: inline-block;
    background-position: 50.37950664136623% 2.1186440677966103%;
    background-size: 525% 189.7338403041825%;
    background-image: url(floating.jpg);
    height: 120px;
    width: 150px;
}

.floating .f7{
    top: 0%;
    left: 70%;
    padding: 2.2% 2.2%;
}

.floating .f7::after{
    transform: skewY(3deg);
    content:'';
    display: inline-block;
    background-position: 26.804123711340207% 2.127659574468085%;
    background-size: 554.0425531914893% 189.0151515151515%;
    background-image: url(floating.jpg);
    height: 120px;
    width: 150px;
}

.services .topser{
    margin-bottom: 8%;
}

.services img{
    height: 600px;
}

.services .servicesmid{
    width: 100%;
    text-align: center;
}


i.fa-heart{
    color: #EF4C80;
    font-size: 25px;
    text-align: right;
}

.services .servicesmid .tagline h4{
    color: #EF4C80;
    text-align: left;
}

.services .servicesmid h1{
    margin-top: 10%;
    margin-bottom: 5%;
    letter-spacing: 5px;
}

.services .servicesmid p{
    letter-spacing: 2px;
    word-spacing: 8px;
    line-height: 28px;
    margin-bottom: 8%;
    /* font-weight: 100; */
}

.services .servicesmid p.query{
    font-size: 24px;
}

.services .servicesmid h3{
    font-weight: 700;
    word-spacing: 15px;
}

.services .boxes .serbox .box1, .services .boxes .serbox .box2{
    text-align: center;
    margin: 2% 15%;
    padding: 5% 10%;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
}


.services .boxes .box1:first-child{
border-top: 8px solid #42A5F5;
}

.services .boxes .box2:first-child{
    border-top: 8px solid #EF4C80;
}

.services .boxes .serbox h1{
    font-size: 34px;
}

.services .boxes .serbox p{
    font-size: 18px;
    margin-bottom: 10%;
    /* margin-top: 5%; */
}

.services .boxes .serbox .box1 a{
    text-decoration: none;
    padding: 4% 8%;
    border-radius: 25px;
    color: rgba(255,255,255,0.9);
    background-color: #42A5F5;
}

.services .boxes .serbox .box2 a{
    text-decoration: none;
    padding: 4% 8%;
    border-radius: 25px;
    color: rgba(255,255,255,0.9);
    background-color: #EF4C80;
}

.services .boxes .serbox a:hover{
    opacity: 0.9;
}


.slant{
    margin-top: 15%;
    background-color: #EF4C80;
    transform: skewY(-8deg);
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 10%;
}

.slant div.row.container{
    margin: 0;
}

.slant .imag{
    background-image: url(slant.png);
    background-size: 100% 100%;
    position: relative;
    height: 662px;
    transform: skewY(8deg);
    /* height: 100%; */
}

.slant .hovering{
    position: absolute;
    left: 80%;
    top: 100%;
    /* transform: translate(-100%) !important; */
    background-color: #58D9B0;
    border-radius: 50%;
    height: 25%;
    width: 30%;
    text-align: center;
    color: white;
    box-shadow: 0px 7px 19px -3px rgba(0,0,0,0.8);
}

.slant .hovering h3{
    margin-top: 10%;
    letter-spacing: 3px;
}

.slant .hovering p{
    letter-spacing: 1.5px;
}


.slant .imagtext{
    transform: skewY(8deg);
    text-align: center;
    padding: 13% 0% 0 8%;;
}

.slant .imagtext p{
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 8%;
}

.slant .imagtext i{
    margin-left: 3%;
}

.slant .imagtext h5{
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 40px;
    word-spacing: 10px;
}



.option{
    /* height: 500px; */
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
    /* background-color: black; */
}

.option .text{
    text-align: left;
    padding-right: 10%;
    padding-top: 10%;
}

.option .text h1{
    font-size: 50px;
}

.option .text h6{
    margin-top: 10%;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 32px;
}

.option .box01{
    background-color: #F6F7F9;
    padding: 8% 5%;
    text-align: left;
    color: #4C4B58;
    box-shadow: 0px 7px 16px -7px black;
    transition: 0.3s ease-in-out;
}

.option .box01:hover{
    box-shadow: 0px 7px 27px -3px black;
}

.option .box01 h5{
    font-size: 28px;
    letter-spacing: 1.5px;
    word-spacing: 8px;
}

.option .box01 p{
    margin-top: 2.5%;
    word-spacing: 5px;
    letter-spacing: 0.5px;
    margin-bottom: 7%;
}

.option .box01 a{
    text-decoration: none;
    background-color: #4b71fc;
    border-radius: 30px;
    letter-spacing: 2px;
    color: white;
    padding: 2% 7%;
    transition: 0.4s ease;
}

.option .box01 a:hover{
    opacity: 0.8;
}

.option .box01:first-of-type{
    margin-bottom: 5%;
}

.option .bleft{
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0,-100%);
}

.option .bright{
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(0,-50%);
}


footer{
    /* height: 500px; */
    background: linear-gradient(135deg, #6749f5 0%, #25ced1 100%);
    padding-top: 150px;
    position: relative;
    padding-bottom: 50px;
    color: white;
    text-align: center;
    /* overflow-x: hidden; */
    /* overflow-y: visible; */
}

footer h1{
    word-spacing: 8px;
    letter-spacing:3px;
    margin-bottom: 3%;
    
}

footer h5{
    word-spacing: 5px;
    letter-spacing: 1px;
    line-height: 28px;
}

footer h5:last-of-type{
    margin-bottom: 3.5%;
}

footer a{
    text-decoration: none;
    background-color: #58D9B0;
    padding: 1% 3%;
    border-radius: 30px;
    color: white;
}

footer a:hover{
    color: white;
    text-decoration: none;
}

footer p{
    margin-top: 4%;
    font-size: 18px;
}

footer p i{
    font-size: 24px !important;
    color: #FBC036;
}

div.last{
    margin-top: 10%;
    padding-bottom: 100px;
    text-align: center;
}

div.last img{
    margin-bottom: 2%;
}

div.last h1{
    margin-bottom: 5%;
    text-shadow: 1px 1px 9px black;
}

div.last a{
    padding: 2%;
    /* border-radius: 50%; */
    text-decoration: none;
}

div.last a i{
    font-size: 40px;
}

div.last a i.fa-facebook-official{
    color:#3b5998;
    background-color: white;
}

div.last a i.fa-github{
    color: #333;
}

div.last a i.fa-linkedin-square{
    background-color: white;
    color: #0077B5;
}

div.last i.fa-heart{
    color: #E93061;
}
div.last h6{
    margin-top: 5%;
}



@media(min-width:992px){
    div.services{
        position: relative;
    }

    div.boxes{
        position: absolute;
        top: 100%;
        transform: translate(0,-75%);
    }

    div.boxes .box1{
        transition: 0.5s ease-in-out;
        transform: rotateZ(-10deg);
    }

    div.boxes .box2{
        transition: 0.5s ease-in-out;
        transform: rotateZ(10deg);
    }

    div.boxes .box1:hover{
        transform: rotateZ(10deg) !important;
    }

    div.boxes .box2:hover{
        transform: rotate(-10deg) !important;
    }

    body{
        overflow-x: hidden;
    }
    
    footer::before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 50%;
        height: 200px;
        background-size: 100% 100%;
        background-image: url(fleft.png);
        top: 100%;
        transform: translate(0,-50%);
        left: 0;
    }
    footer::after{
        content: '';
        display: inline-block;
        position: absolute;
        width: 50%;
        height: 250px;
        background-size: 100% 100%;
        background-image: url(fright.png);
        top: 100%;
        transform: translate(0,-40%);
        right: -18%;
    }

}
